* {
    box-sizing: border-box;
}

.board {
    border: 2px solid black;
    display: inline-grid;
    grid-gap: 0;
}

.tile {
    background: #ccc;
    border: 1px solid #666;
    font-size: 70%;
}

.tile.empty {
    background: #333;
    border: 1px solid #333;
}

.unit {
    background: #999;
    border: 1px solid #222;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    text-align: center;
}

/* centering content */
.tile,
.unit {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Unit List */
.unit-list {
    display: inline-grid;
}
