
* {
    box-sizing: border-box;
}

html {
    font-family: Raleway, arial, sans-serif;
}

.board {
    border: 2px solid black;
    display: inline-grid;
    grid-gap: 0;
}

.tile {
    background: #ccc;
    border: 1px solid #393939;
    font-size: 70%;
}

.tile.empty {
    background: #252525;
    border: 1px solid #292929;
}

.unit {
    background: #999;
    border: 1px solid #222;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    text-align: center;
}

/* centering content */
.tile,
.unit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:not(.visible) {
    opacity: .5;
}

/* Unit List */
.unit-list {
    display: inline-grid;

}

.unit-list__header {
    font-weight: bold;
}

.unit-list__body {
    list-style: none;
    margin: 0;
    padding: 0;
}

.unit-list__unit {
    border: 1px solid #333;
    border-radius: 8px;
    margin-top: 8px;
    padding: 8px;

}

.unit-list__unit.active {

}

.unit-list__unit-details {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.unit-list__unit-details > button {
    margin-left: 12px;
}

button {
    border: 1px solid #999;
    font-family: 'Orbitron', arial, sans-serif;
    padding: 8px;
}
