@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.tile.hallway {
    background: #545454;
}

.tile.hallway2 {
    background: #5e5e5e;
}

.tile.room {
    background: #777;
}

.tile.wall {
    background: #404040;
}

.unit.active {
    border-color: #3c3;
}

body {
    background: black;
}

h1 {
    color: #eee;
}

.unit-list {
    color: white;
}

.unit-list__unit {
    border-color: #aaa;
}

.unit-list__unit-move {
    color: #66dd88;
}

button {
  border-radius: 1px;
}

button.done {
    background-color: #333;
    border-color: #ccc;
    color: #ccc;
}

button.activate {
    background-color: #333;
    border-color: #3d3;
    color: #3d3;
}
