.tile.grass {
    background: #394;
}

.tile.road {
    background: #733;
}

.tile.trees {
    background: #262;
}

.tile.hills {
    background: #662;
}

.tile.stones {
    background: #777;
}

.unit.goblin {
    background-color: #66dd88;
    border-color: #118822;
}
